<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>
      <footer class="site-footer">
    <div class="wrapper">
      <p>© {{ site.time | date: "%Y" }} {{ site.title }}. Connect with me on <a href="{{ site.author.linkedin }}" target="_blank">LinkedIn</a>.</p>
    </div>
  </footer>

  </body>

</html>

