<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    <footer style="text-align: center; padding: 1em; font-size: 0.9em; background-color: #f8f8f8; border-top: 1px solid #ddd;">
      © 2025 Mukesh Gupta. Connect with me on
      <a href="https://www.linkedin.com/in/mukeshgupta" target="_blankr>

  </body>

</html>

